/*

In this file:

// A. SCSS imports (required)
// B. Theme styles

*/

////////////////////////////////////////
// A. SCSS imports (Required)
////////////////////////////////////////

// Import custom SCSS

@import "_header";
@import "a-global-variables";
@import "b-bootstrap-imports";
@import "c-custom-mixins";
@import "d-enhancements";
@import "e-supplementary-classes";
@import "f-layout-elements";
@import "g-dev-tools";
@import "h-nyc-subway-icons";

////////////////////////////////////////
// B. Theme styles
////////////////////////////////////////

// Put anything you want here

// Custom active state for sidebar nav
// (Found in article-two-column.html)

.list-group.custom-active {

    a.active {
        background-color: unset;
        font-weight: $font-weight-bold;
        border-color: $border-color;
        border-left-color: $info;
        border-left-width: $border-width * 2;
        color: $info;
    }
}