/*

In this file:

// A. SCSS imports (required)
// B. Theme styles

*/

////////////////////////////////////////
// A. SCSS imports (Required)
////////////////////////////////////////

// Import custom SCSS

@import "_header";
@import "a-global-variables";
@import "b-bootstrap-imports";
@import "c-custom-mixins";
@import "d-enhancements";
@import "e-supplementary-classes";
@import "f-layout-elements";
@import "g-dev-tools";
@import "h-nyc-subway-icons";

////////////////////////////////////////
// B. Theme styles
////////////////////////////////////////

// Put anything you want here

// Tearsheet

#tearsheet-tabs {

    #sidebar {
        .list-group-item:first-child {
            border-top-color: transparent;
        }

        a {
            &.active {
                font-weight: bold;
            }
        }
    }

    .tab-pane {
        overflow: hidden;
    }

    .tab-pane > section {
        margin-top: $spacer-5;
        margin-bottom: $spacer-5;
        padding-left: $spacer-2;
        padding-right: $spacer-2;
    }

    @include media-breakpoint-up(lg) {

        #sidebar {
            max-width: 300px;
        }

        .tab-pane > section {
            padding-left: $spacer-4;
            padding-right: $spacer-4;
        }

    }
}

// Custom active state for sidebar nav
// (Found in article-two-column.html)

.list-group.custom-active {

    a.active {
        background-color: unset;
        font-weight: $font-weight-bold;
        border-color: $border-color;
        border-left-color: $info;
        border-left-width: $border-width * 2;
        color: $info;
    }
}